<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files Uploaded</title>
</head>
<body>
    <h4>All Files Uploaded</h4>
    <form action="/selectedFiles" method="POST">
        <% for(let i=0;i<files.length; i++){ %>
            <input type="radio" id=<%= files[i].name %> name=<%= files[i].name %> value=<%= files[i].name %>>
            <label for=<%= files[i].name %>><%= files[i].name %></label>
            <br>
        <% } %>
        <input type="submit">
    </form>

</body>
</html>