<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <title>CSV File Viewer</title>
</head>
<body>
    <div id="main">

        <div id="header">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <h4>CSV File Viewer</h4>
            </div>
        </div>
    
    
        <div id="fileSubmitDiv">
            <form action="/files" method="post" enctype="multipart/form-data" id="fileSubmitForm">
                <input type="file" id="filesInput" name="files" multiple />
                <input type="submit">
            </form>
        </div>
    
        <div id="selectedFilesDiv">
            <% if(files.length>0){ %>
                <h4>All Files Uploaded</h4>
                <form action="/files/selectedFiles" method="POST" id="selectedFilesForm">
                    <div id="selectedFilesInputsDiv">
                        
                        <% for(let i=0;i<files.length; i++){ %>
                            <div style="margin-bottom: 5px;">
                                <input type="radio" id=<%= files[i].originalname %> name="fileName" value=<%= files[i].path %>:<%=files[i].originalname %>>
                                <label for=<%= files[i].originalname %>><%= files[i].originalname %></label>
                            </div>
                        <% } %> 
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <input type="submit">
                    </div>
                </form>
            <% } %>
        </div>
    
        
    
    
        <div id="tableDiv">
            <div id="selectedFiles_SearchBox">
                <div id="displaySelectedFilesDiv"></div>
                <div id="searchBox">
                    <form id="searchByColumnValueForm">
                    </form>
                </div>
                <div id="resetButton"></div>
            </div>
            
            <table id="table">
                <thead id="tableHead" style="border: 1px solid black;">
                    <tr id="columnRow">
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="module" src="/js/functions.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>