<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
    <title>CSV File Viewer</title>
</head>
<body>
    <div id="main">

        <section id="header">
            <div class="headerMembers">
                <h1>CSV File Viewer</h1>
            </div>
            <div class="headerMembers" class="tooltipDiv">
                <a href="/" id="homeButton"><i class="fa-solid fa-house fa-2xl" style="color: white;"></i></a>
                <p class="tooltip">Home page</p>
            </div>
            
        </section>
        

        <section id="selectedFilesDiv" class="sectionStyle">
            <div style="top: 10%; position: absolute; height: auto; min-height: 20%; width: 50%;">
                <% if(files.length>0){ %>
                    <p class="formHeading">All Uploaded Files</p>
                    <form action="/files/selectedFiles" method="POST" class="form" id="selectedFilesForm">
                        <div class="radioOptionsContainer">
                            
                            <% for(let i=0;i<files.length; i++){ %>
                                <label class="option" for=<%= files[i].originalname %>>
                                    
                                    <input type="radio" id=<%= files[i].originalname %> name="fileName" value=<%= files[i].path %>:<%=files[i].originalname %>>
                                    <%= files[i].originalname %>
                                </label>
                            <% } %> 
                        </div>
                        <input type="submit">
                    </form>
                <% } %>
            </div>

        </section>


        
    
        <section id="tableDiv" class="sectionStyle" style="display: none;">
            <div id="selectedFiles_SearchBox" style="width: 100%;">

                <div id="misc">
                    <div id="displaySelectedFileDiv"></div>
                    
                    
                </div>


                <div id="forms">
                    
                    <div id="displayTotalRowsDiv"></div>
                    <div id="searchBox" class="formBox">
                        <form id="searchByColumnValueForm" class="formRow">
                        </form>
                    </div>


                    
                    <div  id="plotFormDiv" class="formBox">
                        <form action="" id="plotForm" class="formRow">
                        </form>
                    </div>


                    <div id="rowsPerColumn" class="formBox"></div>
                </div>

                

            </div>
            
            <div style="height: 70%; width: 95%; overflow-y: scroll; overflow-x: scroll; background-color: #E8E8E8; border: 1px solid black;">
                <table id="table" style="height: auto; width: 100%; background-color: #E8E8E8;">
                    <thead id="tableHead" style=" background-color: rgb(22, 15, 15); color: white;">
                        <tr id="columnRow">
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
            </table>
            </div>

            


            <div id="paginationDiv" class="margin">
                <!--  -->
                <div id="buttonsContainer">
                    <!-- <select name="selectNum" id="selectNumOfButtons">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                    </select> -->
                    <button id="goToOne" class="arrowButton"><<</button>
                    <button id="shiftOneLeft" class="arrowButton"><</button>
                    <div id="numsButtonDiv"></div>
                    <button id="shiftOneRight" class="arrowButton">></button>
                    <button id="goToLast" class="arrowButton">>></button>
                </div>
                <div id="pageNumberDiv"><small>Page Number: 1</small></div>
            </div>
        </section>

        <div id="chartingDiv">

        </div>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script type="module" src="/js/functions.js"></script>
    <script type="module" src="/js/pagination.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>